.app-header {
    display: flex;
    min-height: 3.5rem;

    background-color: var(--clr1);
   
    padding: 8px;
    height: 64px;

    & nav {
        display: flex;
        width: 100%;
        align-items: center;
        

        font-size: .8em;


        .active {
            color: var(--clr3);
        }

        :hover {
            color: var(--clr4);
        }

        .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        padding: 0;
        height: 72px;
        width: 72px;
        }

        .login-link {
            margin-inline-start: auto;
        }

        & button {
            margin: 0;
            display: flex;
            
            padding:0;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            margin-inline-start: 8px;
            justify-content: center;
            align-items: center;
            background-color: var(--clr1);

            & svg {
                height: 24px;
                width: 24px;
                fill: var(--clr4);
            }
            
            
        }

        
    }
    
   .app-header-logo {
            height: 32px;
            width: fit-content;
            cursor: pointer;
           
            
        }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: var(--clr1);

        .score {
            padding: 8px;
            background-color: var(--clr2);
            border-radius: 50%;
            margin: 10px;

            color: var(--gray1);
        }

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}