.app-header {
    display: flex;
    
    align-items: center;
    background-color: var(--clr1);


    
    /* height: 64px; */

    & nav {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
        align-items: center;

        justify-content: space-between;
        padding-left: 1.3em;
        padding-right: 1.3em;
        padding-bottom: 0.7em;
       

        font-size: .8em;


        .active {
            color: var(--clr3);
        }

        :hover {
            color: var(--clr4);
        }

        .logo-container {
            display: flex;
            align-items: center;
            /* justify-content: center; */

            .login-link {
                justify-self: end;
            }

            padding: 0;
            height: 2em;
        }



        & button {
            margin: 0;
            display: flex;

            padding: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            margin-inline-start: 8px;
            justify-content: center;
            align-items: center;
            background-color: var(--clr1);
                flex-shrink: 0;

            &:hover {
                background-color: var(--clr1-light);
            }

            & svg {
                height: 2em;
                width: 2em;
                fill: var(--clr4);
            }


        }


    }

    .app-header-logo {
        height: 2em;
        width: 2em;
        cursor: pointer;


    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-end: auto;

        color: var(--clr1);

        .score {
            padding: 8px;
            background-color: var(--clr2);
            border-radius: 50%;
            margin: 10px;

            color: var(--gray1);
        }

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}

.station-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.625empx;
    width: 100%;

    .station-search-container {
        background-color: var(--clr1);

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


        .station-search {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 80%;
            height: 3.25em;

            .search-svg {
                
                left: 12px;
                top: 12px;
                position: absolute;
                
                display: block;
                fill: var(--clr5);
            }

            .browse {
                position: relative;
                
                height: 100%;
                width: 100%;
               
                

            }

            .browse .button {
                border: none;
                background-color: transparent;
                position: absolute;
                width: 40px;
                height: 28px;
                padding-left: 16px;
                border-radius: 0;
                border-left: 1px solid var(--clr5);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                right: 12px;
                top:12px;

                &:hover {
                    .browse-svg {
                        fill: var(--clr4);
                    }
                }
            }

            .browse-svg {
                height: 24px;
                width: 24px;
                display: block;
                fill: var(--clr5);
            }

            .station-filter-input {
                border: none;
                background-color: transparent;
                background-color: var(--background-elevated-base);
                transition: background-color 0.2s, box-shadow 0.2s;
                color: var(--clr4);
                font-size: 1.2em;
                min-width: 474px;
                outline: none;
                
                padding-bottom: 0.6em;
                padding-top: 0.6em;
                border-radius: 500px;
                font-family: var(--encore-body-font-stack);
                width: 100%;

                &::placeholder {
                    color: var(--clr5);
                    opacity: 0.7;
                    font-family: var(--encore-body-font-stack);
                    font-size: 1em;
                   
                }

                &:hover,
                &:focus {
                    background-color: var(--background-elevated-highlight);
                    /* <-- light gray */

                }
            }
        }
    }
}

.station-filter input:focus {
    box-shadow: inset 0 0 0 2px var(--clr4);
}

.station-filter-input:hover:not(:focus) {
    box-shadow: inset 0 0 0 .5px var(--clr5);
}

button:hover {
    background-color: var(--clr1-light);
}