:root {
  --clr1: #000000;
  --clr2: #574f7d;
  --clr3: #1ed760;
  --clr4: #ffffff;
  --clr5: #b3b3b3;

  --white: var(--white);

  --clr1-light: color-mix(in lab, var(--clr1), white 15%);

  --gray1: #121212;
  --gray2: #2e2d2e;
  --gray3: #1f1f1f;
  --gray4: #333;
  --gray5: #433c2c;
  --gray6: #acacac;
  --gray7: #2a2a2a;
  --background-elevated-base: #1f1f1f;
  --background-elevated-highlight: #2a2a2a;


  --success: #1ed760;
  --error: #d83b3b;

    --content-max-width: 1955px;
    --content-spacing: clamp(16px, 16px + (var(--main-view-grid-width) - 600px) / 424 * 8, 24px);
    --main-view-grid-width: 100cqw;

      



}
.standalone-ellipsis-one-line {
    white-space: unset;
    word-break: break-all;
}

.ellipsis-one-line, .standalone-ellipsis-one-line{
    overflow: hidden;
    text-overflow: ellipsis;
}

