:root {
  --clr1: #000000;
  --clr2: #574f7d;
  --clr3: #1ed760;
  --clr4: #ffffff;
  --clr5: #b3b3b3;

  --clr1-light: color-mix(in lab, var(--clr1), white 15%);

  --gray1: #ddd;
  --gray2: #2e2d2e;
  --gray3: #1f1f1f;
  --gray4: #333;

  --success: #1ed760;
  --error: #d83b3b;
}