.browser {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(180deg, #121212 0%, #121212 100%);
    min-height: 100vh;
}

.browser-categories {
    width: 100%;
    max-width: 100%;
}