.left-side-bar {
    grid-column: 1 / 2;
    background-color: var(--gray1);
    border-radius: 20px;
    max-width: 100%;

    display: flex;
    flex-direction: column;

    .library-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        gap: 8px;
        padding: 0 8px 8px 8px;
    }

    .library-item {

        align-items: center;
        padding: 8px;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: #2a2a2a;
        }

        img {
            /* width: 48px; */
            height: 48px;
            object-fit: cover;
            border-radius: 4px;
            flex-shrink: 0;
        }

        p {
            font-size: 12px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .search-bar {
        display: flex;
        align-items: center;
        background-color: var(--gray2);
        border-radius: 4px;
        padding: 6px 12px;
        cursor: pointer;

        .search-icon {
            color: var(--clr4);
            font-size: 20px;
        }

        input {
            width: 0;
            padding: 0;
            border: none;
            background: none;
            outline: none;
            color: var(--clr4);
            font-size: 14px;
            opacity: 0;

            transition: width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
        }

        &.expanded {
            input {
                width: 150px;
                opacity: 1;
                padding-left: 8px;
            }
        }
    }

    button {
        background: none;
        border: none;
        color: var(--clr4);
        cursor: pointer;
        font-size: 12px;
        padding: 6px 12px;
        text-align: left;
        background-color: var(--gray2);
        border-radius: 20px;

        &:hover {
            background-color: #2a2a2a;
        }
    }

    .create-station-btn {
        display: flex;
        align-items: center;
        gap: 4px;
        background-color: var(--gray2);
        color: white;
        border: none;
        border-radius: 20px;
        padding: 6px 12px;
        font-size: 11px;
        cursor: pointer;
        transition: background-color 0.2s;
        margin-top: -7px;

        &:hover {
            background-color: #2a2a2a;
        }

        svg {
            font-size: 16px;
        }
    }

    .sort-by {
        display: flex;
        justify-content: space-around;
        margin-top: 4px;
    }

    .search-and-recent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        margin-bottom: 8px;
    }
}

.left-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 2px; */
    font-size: 9.5px;
    margin-left: 5px;
    margin-top: 5px;

}