.left-side-bar {
    grid-column: 1 / 2;
    background-color: var(--gray1);
    margin: 7px;
    border-radius: 7px;
    max-width: 100%;

    display: flex;
    flex-direction: column;

    .library-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        gap: 8px;
        padding: 0 8px 8px 8px;
    }

    .library-item {

        align-items: center;
        padding: 8px;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: #2a2a2a;
        }

        img {
            /* width: 48px; */
            height: 48px;
            object-fit: cover;
            border-radius: 4px;
            flex-shrink: 0;
        }

        p {
            font-size: 12px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }



    }
}

.left-header {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    font-size: 12px;
}