.modal-overlay-queue {
    position: fixed;
    top: 0;
    left: 81%;
    width: 20%;
    height: 96%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: transparent;

    ::-webkit-scrollbar {
        width: 2px;
        background-color: #282828;
    }

}

.modal-content {
    background-color: #181818;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid #282828;
    margin: 0;
    /* padding-bottom: 16px; */
}

.modal-header h2 {
    margin: 0;
}

.close-btn {
    background: none;
    border: none;
    color: #b3b3b3;
    font-size: 28px;
    cursor: pointer;
}

.close-btn:hover {
    color: #fff;
}

.queue-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.queue-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 0;
}

.queue-item:not(:last-child) {
    border-bottom: 1px solid #282828;
}

.queue-item img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 4px;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-weight: 500;
    margin: 0;
}

.item-creator {
    color: #b3b3b3;
    font-size: 14px;
    margin: 0;
}