.station-index {
    display: grid;
    height: 100vh;
    margin-inline-end: 15px;

    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        /* padding-block: .3em; */
    }

    .station-index::-webkit-scrollbar {
        width: 8px;
    }

    .station-index::-webkit-scrollbar-track {
        background: transparent;
    }

    .station-index::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
    }

    .station-index::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    & h2 {
        /* margin: 0; */
        font-size: 1.3em;
        margin-left: 28px;
        color: white;
        margin-top: 3.75em;
    }

    & button {
        /* width: 16em; */
        /* max-width: 136px; */
        /* height: 45px; */
    }
}