.station-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 24px; 
  
  margin: 0;
  padding: 0;
  list-style: none;
}

.station-list li {
  display: flex;
  flex-direction: column;
  
  /* background-color: #181818; */
  /* padding: 16px; */
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    /* background-color: #282828; */
  }

  a {
    font-size: 12px;
  }
}

.station-img {
  width: 100%; 
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 16px; 
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.station-list li .station-preview {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}