.station-list-container {
    padding: 1em;
    background-color: var(--gray1);
    border-radius: 20px;
}

.station-list {
    --min-column-size: 220px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: .5em;
    background-color: var(--gray1);
    margin: 0;

    & li {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

        background-color: #181818;
        padding: 1em;
        border-radius: 8px;

        .actions {
            justify-self: end;

            & button {
                padding: .3em .5em;
            }
        }
    }

    a:hover {
        color: var(--clr4);
    }
}