.main-container > main {
    min-height: calc(100vh - 9rem);
}

/* 住祝 转  拽抓 -CSS 专砖 砖 */

/*  砖驻拽爪 转驻住转 100%  转转 */
html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #000; /* 专拽注 砖专  */
}

/* 拽专 专砖 砖  驻拽爪 */
.app-layout {
  display: flex;
  flex-direction: column; /* 住专 转  (专, 转, 驻专) 注 */
  height: 100%; /* 转驻住 100%  砖 专 砖 (#root) */
}

/* 拽专 砖 住专 爪 转 专砖 */
.content-layout {
  flex-grow: 1; /*   拽 砖!  专   转转  转   驻 */
  display: grid;
  grid-template-columns: 250px 1fr; /* 拽转 注转 砖 (驻砖专 砖转 转 250px) */
  overflow: hidden; /* 注 注转 砖 */
}

/* 专转 砖转 住专 爪 专 转 */
.left-side-bar, main {
  overflow-y: auto; /* 驻砖专  驻转  注 驻专  转 专  */
  height: 100%; /*  砖  转  砖拽爪  */
}